body {
    min-height: 100vh;
    background-image: url(images/BackgroundSpaceScreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

.tabs {
    margin-top: 80vh;
    margin-left: 20px;
    margin-right: 15px;
    border: 10px solid #fff700dc;
    background-color: #ffffffe8;
    display: block;
}

.tabs__topbar {
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin-top: 14px;
    justify-content: center;
    gap: 20px;
}

.tabs__content {
    margin-left: 10px;
    display: none;
}

.tabs__button {
    padding: 6px;
    width: auto;
    min-width: 120px;
    height: 14%;
    flex: 1 1 auto;
    border: 3px solid #fff700;; 
    background-color: #e0e0e0;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.tabs__button:hover {
    background-color: #fff7007a;
}

.tabs__button:active {
    background-color: #5e5b00;
}

.tabs__button--active {
    font-weight: bold;
    background-color: #fff7007a;
}

.tabs__content--active {
    display: block;
}

.background {
    display: none;
}

#SoloPicture {
    width: 30vh;
    max-width: 200px;
    height: auto;
}


@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 1.8em;
    }

    .tabs {
        margin-top: 5vh;
        margin-left: 5px;
        margin-right: 5px;
    }

    .tabs__button {
        font-size: 16px;
        padding: 8px;
    }

}