body {
    min-height: 1988px;
    background-image: url(images/BackgroundSpaceScreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-left: 180px;
}


.tabs {
    margin-top: 700px;
    margin-left: 20px;
    margin-right: 15px;
    border: 10px solid #fff700dc;
    background-color: #ffffffe8;
    display: block;
}

.tabs__topbar {
    display: flex;
    flex-shrink: 1;
    margin-top: 14px;
    justify-content: center;
    gap: 20px;
}

.tabs__content {
    margin-left: 10px;
    display: none;
}

.tabs__button {
    padding: 6px;
    width: 14%;
    height: 14%;
    border: 3px solid #fff700;; 
    background-color: #e0e0e0;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.tabs__button:hover {
    background-color: #fff7007a;
}

.tabs__button:active {
    background-color: #5e5b00;
}

.tabs__button--active {
    font-weight: bold;
    background-color: #fff7007a;
}

.tabs__content--active {
    display: block;
}

.background {
    display: none;
}

#SoloPicture {
    width: 200px;
    height: 200px;
}